[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
"progressbar2" = "*"
pandas = "*"
requests = "*"
plotly = "*"
numpy = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
